header {
  background-color: #F7BE81;
  color: #213B39;
  height: 30px;
  text-align: center;
  padding: 30px 10px 30px 10px;
}

footer {
  background-color: #F7BE81;
  color: #213B39;
  height: 40px;
  text-align: center;
  padding: 30px 10px 30px 10px;
}

body {
background: #F8ECE0;
}


a:hover {

font-weight: bold;
color: black;
}

a {
  text-decoration: none;
  color: black;
}


a:visited {
  color: orange;
}

nav .btn {
    background-color: #FF6347;
    color: #fef9ff;
}

nav .btn:hover {
    font-weight: bold;
}

nav {
    border-top: thin #5b7d87 solid;
    border-bottom: thin #5b7d87 solid;
    padding-top: 12px;
    padding-bottom: 12px;
}
